/* https://github.com/FLAK-ZOSO/FLAK-ZOSO.github.io/blob/main/src/css/code.css */
.square {
    background-color: black;
    font-size: larger;
    border-radius: 5px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 1px;
}


body {
    background-color: purple;
}


p,
h1 {
    color: red;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes navbar-title {
    0% {
        color: red;
    }

    50% {
        color: purple;
    }

    100% {
        color: red;
    }
}

@keyframes navbar-link-underline {
    0% {
        border-bottom-color: orange;
    }

    100% {
        border-bottom-color: yellow;
    }
}


nav.top {
    /* Position fixed, the <nav> remains on top even after scrolling */
    position: fixed;
    /* Stay fixed on top */
    top: 0;
    /* Stay on left side */
    left: 0;
    /* Cover the whole screen */
    width: 86vw;
    background-color: rgb(142, 176, 188);
    /* Stay on top */
    z-index: 1;
    /* text-align: left; */
    margin-left: 4%;
    margin-right: 10%;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

nav.top a {
    /* padding: 5%; padding breaks nav.top a:hover border-bottom */
    text-decoration: none;
    font-size: 30px;
    color: white;
}

nav.top a.link {
    float: right;
    margin-left: 5%;
    padding-right: 0px;
}

nav.top a.link:hover {
    animation-name: navbar-link-underline;
    animation-duration: 1s;
    color: purple;
    border-bottom: orange solid;
}

nav.top a:not(.link):hover {
    border-radius: 10px;
    background-color: beige;
}


div.intro {
    width: 90%;
    height: max-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    justify-content: center;
    align-content: center;
    border-color: black;
    background-color: rgb(49, 49, 49);
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
}

div.intro#intro {
    margin-top: 50px;
}

nav.top img {
    border-radius: 10px;
    width: 30px;
}